body{
font-family:Arial;
background:#121212;
color:white;
display:flex;
margin:0;
}

.sidebar{
width:200px;
background:#000;
padding:20px;
}

button{
width:100%;
padding:10px;
margin-bottom:10px;
background:#1db954;
border:none;
color:white;
cursor:pointer;
}

.main{
flex:1;
padding:30px;
}